#notes-header {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin: 4% 1vw;
}

    #notes-header .options {
        display: flex;
    }

        #notes-header .options img, #goBack {
            width: 14px;
            margin-right: 10px;
            margin-top: -3px;
        }

        #notes-header .options p {
            padding: 3px 15px !important;
            border-radius: 5px !important;
            margin-left: 10px;
            transition: .3s;
        }

            #notes-header .options p:hover {
                cursor: pointer;
                background-color: #fafafa;
            }


#notes {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: -55px;
    margin-left: -4vw;
}

#goBack:hover{
    cursor: pointer;
}
/*-----------------------------------PREVIEW-----------------------------------*/
.note-preview {
    width: 15vw;
    height: 15vw;
    background-color: lightgreen;
    margin-left: 5vw;
    margin-top: 55px;
    padding: 10px 20px;
    overflow: hidden;
    font-size: 1.3vw;
}

.title-preview {
    text-align: center;
    font-weight: 500;
}

.note-preview:hover{
    cursor: pointer;
    opacity: .7;
}

/*--------------------------------NOTE----------------------------------------------*/
#myModalNote{
    margin-left: -20% !important;
}

    #myModalNote .modal-content {
        position: fixed;
        height: 90vh !important;
        width: 70vw !important;
    }

#myModalLabelNote{
    position: absolute;
    width: 95%;
    text-align: center !important;
    justify-content: center !important;
}

#note-title {
    border: none;
    background-image: url(/css/Images/edit-gray.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: right;
    margin-bottom: 25px;
    font-weight: 600;
    text-align: center;
}

    #note-title:focus {
        border: none;
        outline: none;
        background-image: none;
    }

/*-----------------------------------------------------------------------------*/

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

ul{
    margin-left: -25px;
}


ul li {
    list-style: none;
}

#contextMenu {
    position: absolute;
    transform-origin: top left;
    transform: scale(0);
    width: 220px;
    border: 1px solid rgba(100,100,100,0.55);
    padding: 5px;
    background: rgba(250,250,250,0.98);
    box-shadow: 2px 2px 12px 4px rgba(100,100,100,0.4);
    transition: transform 400ms ease-in-out 50ms;
}

    #contextMenu.visible {
        transform: scale(1);
    }

    #contextMenu ul li {
        padding: 5px 3px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: rgba(50,50,50,0.9);
        font-size: 15px;
    }

        #contextMenu ul li:hover {
            background: rgba(100,100,100,0.12);
        }

        #contextMenu ul li.disabled {
            color: rgba(100,100,100,0.5);
            cursor: pointer;
        }

        #contextMenu ul li.share {
            /*   height:40px; */
            width: 100%;
            flex-direction: column;
            align-items: left;
            flex-wrap: wrap;
        }

            #contextMenu ul li.share > .name {
                margin-top: -2px;
                margin-bottom: 10px;
                display: block;
            }

            #contextMenu ul li.share .icons {
                width: 100%;
                display: flex;
                justify-content: space-around;
            }

                #contextMenu ul li.share .icons > i:hover {
                    background: #e7e7e7;
                }

        #contextMenu ul li i {
            width: 20px;
        }

        #contextMenu ul li div.name {
            padding-left: 8px;
        }

    #contextMenu div.break {
        margin: 4px 0px;
        border-top: 1px solid rgba(100,100,100,0.5);
    }

#pulse {
    position: fixed;
    width: 35px;
    height: 35px;
    background: rgba(0,0,0,1);
    opacity: 0;
    border-radius: 50%;
    z-index: 100;
}

    #pulse.active {
        animation: pulse 400ms ease;
    }

@keyframes pulse {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    100% {
        opacity: 0;
        transform: scale(1.1);
    }
}


#deleteNote{
    color: gray;
    margin-top: 8px;
    z-index: 15;
}

#deleteNote:hover {
    cursor: pointer;
    color: #ff6961;
}