#notebooks-header {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin: 4% 1vw;
}

    #notebooks-header .options {
        display: flex;
    }

        #notebooks-header .options img {
            width: 14px;
            margin-right: 10px;
            margin-top: -3px;
        }

        #notebooks-header .options p {
            padding: 3px 15px !important;
            border-radius: 5px !important;
            margin-left: 10px;
            transition: .3s;
        }

            #notebooks-header .options p:hover {
                cursor: pointer;
                background-color: #fafafa;
            }

/*---------------------------- N O T E B O O K -------------------------------------------------*/

#notebooks {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: -55px;
    margin-left: -50px;
    margin-right: -15px !important;
}

.notebook {
    width: 140px !important;
    height: 240px;
    margin-left: 55px;
    margin-top: 55px;
}

    .notebook .cover {
        height: 200px;
        width: 140px;
        background-size: cover;
        border-radius: 0px 10px 10px 0px;
        box-shadow: 0px 0px 10px -5px #6f6f6f;
    }

    .notebook .title {
        text-align: center;
        height: 30px;
        margin-top: 5px;
    }

.notebook-actions {
    height: 200px;
    width: 140px;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(0,0,0,0.3);
    position: relative
}

    .notebook-actions img {
        width: 25px;
        margin-bottom: 25px;
        margin-right: 15px;
        transition: .3s;
    }

        .notebook-actions img:hover {
            cursor: pointer;
            opacity: .7;
        }

.notebook-all-actions {
    height: 150px;
    width: 35px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}


.notebook-actions {
    opacity: 0;
    transition: .3s;
}

    .notebook-actions:hover {
        opacity: 1;
        cursor: pointer;
    }

/*------------------------------INFO---------------------------------*/

.information-block {
    display: flex !important;
    height: 40vh !important;
}

    .information-block .info-cover {
        margin: 15px;
    }

    .information-block .information {
        margin-top: 15px;
    }

        .information-block .information img {
            height: 25px !important;
            margin-right: 5px;
        }

        .information-block .information .info-mod-img {
            height: 30px !important;
            margin-right: 1px;
        }

#info-name {
    border: none;
    background-image: url(/css/Images/edit-gray.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: right;
    margin-bottom: 25px;
    font-weight: 600;
}

    #info-name:focus {
        border: none;
        outline: none;
        background-image: none;
    }

.custom-cover-btn:hover {
    cursor: pointer;
}

.flex-display {
    display: flex !important;
}

.default-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    height: 45vh;
}

    .default-images .notebook {
        margin: 5px;
        margin-left: 15px;
    }

.current-cover {
    background-color: rgba(0,0,0,0.5);
    height: 200px;
    width: 140px;
    background-size: cover;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 10px -5px #6f6f6f;
    background-image: url(/css/Images/checked.png);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}

.default-image {
    transition: .3s !important;
}

    .default-image:hover {
        background-size: auto 105% !important;
        cursor: pointer;
    }
