@using WebNotebook.Models;
@using Microsoft.AspNetCore.Html;
<div id="notes-header">
    <div>
        <h4>
            <img id="goBack" class="@ViewBag.GoBackClass" src="~/css/Images/left-arrow.png" />
            @ViewBag.Title
        </h4>
    </div>
    <div class="options">
        <p id="addNote"><img src="~/css/Images/plus.png" />Note</p>
        <p>
            <img src="~/css/Images/sort.png" id="sort-icon" />
            <select id="sortNotes">
                <option value="1">Name&nbsp;</option>
                <option value="2" selected>Date Modified&nbsp;</option>
                <option value="3">Date Created&nbsp;</option>
            </select>
        </p>
    </div>
</div>


<div id="notes">

    @foreach (Note note in ViewBag.Notes)
    {
        <div class="note-preview" style="background-color: @note.Hex">
            <p class="title-preview">@note.Title</p>
            @{
                HtmlString msg = new HtmlString(note.Content);
                <div class="content-preview">
                    @msg
                </div>
            }
        </div>
    }
</div>


<script>
    $(document).ready(function () {
        //if ($(".active").attr('name') == "notes") {
        //    $('main').load(`/Note/GetNotes?id=${$('#userId').text()}`);
        //}
            $("#loader").addClass("d-none");
            $("main").removeClass("d-none");
    });


    $('#goBack').on('click', function () {
        $("#loader").removeClass("d-none");
        $("main").addClass("d-none");
        $('main').load(`Notebook/GetNotebooks?id=${$('#userId').text()}`);
        $(".active").removeClass('allowNotes');
    });

    $("#addNote").on('click', function () {
        $("#preloader").removeClass("d-none");
        $.ajax({
            type: "POST",
            url: `/Note/Create?notebookId=${@ViewBag.NotebookId}&userId=${@ViewBag.UserId}`,
            data: {},
            success: function (response) {
                    $("#notes").prepend(`
                         <div class="note-preview" style="background-color: ${response.hex}">
                             <p class="title-preview">${response.title}</p>
                             <div class="content-preview">
                            </div>
                        </div>`);
            },
            error: function (response) {
                console.log(response.responseText);
            }
        });
        $("#preloader").addClass("d-none");
    });


</script>